*{
    margin: 0px;
    padding: 0px;
    color: #c0c0c0;
}
.signup{
    border: 1px solid #C5C6C7;
    border-radius: 6px;
    height:440px;
    width:400px;
    margin: 190px 510px;
}
.signup::before {
    content: "";
    background: url('/image/bg\ texture3.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.93;
    top: 0;
    left: 0;
}

.style{
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    margin-top:100px;
    margin-left: 70px;
}
#email{
    font-size: 20px;
    color: black;

}
#password{
    font-size: 20px;
    color:black
}
.btn{
    margin-left:70px;
    margin-top: 40px;
    padding: 4px 15px;
    border-radius: 6px;
     background-color:#c0c0c0;
     color:black;
     cursor:pointer
}